CMakeCache.txt
CMakeFiles/
Makefile
tests/Makefile
tests/300difftest/

*.o
moc_*
fdupes.pro.*
fdupes_automoc.cpp
ui_mainwindow.h
tests/moc_*
tests/tests.pro.*

fdupes
fdupes.exe
tests/tests
tests/tests.exe
tests/tmp/
fdupes_autogen/
tests_autogen/
tests/tests_autogen/
cmake_install.cmake

.git/
.idea/
.qmake.stash
