CMakeCache.txt
CMakeFiles/
Makefile
tests/Makefile

*.o
moc_*
grep.pro.*
grep_automoc.cpp
ui_mainwindow.h
tests/moc_*
tests/tests.pro.*

grep
grep.exe
tests/tests
tests/tests.exe
tests/tmp/
grep_autogen/
tests_autogen/
tests/tests_autogen/
cmake_install.cmake

.git/
.idea/
.qmake.stash
tests/.qmake.stash
